@{
    ViewBag.Title = "Habitación no disponible";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
    <br />
    <br />
    <p>Lo sentimos! En ese rango de fechas no tenemos habitaciones disponibles.</p>
</div>

