
@{
    ViewBag.Title = "Habitaciones del día de hoy";
}

<h2>Disponibilidad de Hoy</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th scope="col">Habitación</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estado</th>
            <th scope="col">Tarifa</th>
        </tr>
    </thead>
    <tbody id="body"></tbody>
</table>

<script>
    $(document).ready(function () {
        var bodyTable = "";
        $.ajax({
            type: 'POST',
            url: "/Admin/getAvailableDay",
            dataType: 'json',

            success: function (roomDay) {
                var data = JSON.stringify(roomDay);
               
                for (var i = 0; i < roomDay.length; i++) {
                    bodyTable += "<tr><th scope='row'>" + roomDay[i].numero + "</th>";
                    bodyTable += "<td scope='rowgroup'>" + roomDay[i].tipo + "</td>";
                    bodyTable += "<td scope='rowgroup'>" + roomDay[i].estado + "</td>";
                    bodyTable += "<td scope='rowgroup'>" + roomDay[i].tarifa + "</td></tr>";

                }
                $("#body").html(bodyTable);
            },
            error: function (ex) {
               // md.modal('hide');
                alert('Fallo al procesar la reservación.' + ex);
            }
        });

    });

    


</script>
