@foreach (var item in (List<AmazoniamWillowHotel.Models.Pagina>)ViewData["Contact"])
{
        <address>
            <h4>@item.Descripcion</h4>
            <strong>Consulting:</strong>   <a href="hotelwillow@gamil.com">hotelwillow@gamil.com</a><br />
        </address>
        <div class="col-xs-3">
            <img class="mostrarModal" width="300%" alt="Contáctenos" src="~/Public/images/@item.Imagen">
        </div>
}