@{
    ViewBag.Title = "Home Page";
}

@foreach (var item in (List<AmazoniamWillowHotel.Models.Pagina>)ViewData["Home"])
{
    foreach (var info in (List<AmazoniamWillowHotel.Models.Info>)@item.Info.ToList())
    {
        var base64ImagenHotel = Convert.ToBase64String(info.Imagen1.imagen1);
        string imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);

        <div class="row">
            <div class="col-sm-4">
                <img width="100%" src="@imgSrcImagenHotel">
            </div>

            <div class="col-sm-8">

                <h3>@info.titulo</h3><br />

                @{
                    var parrrafos = info.descripcion.Split('^');
                    foreach (String p in parrrafos) {
                        <p>@p</p><br />           
                    }
                }

            </div>
        </div>
    }
}