@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-3">
        <img width="100%" src="..\public\img\laguna.jpg">
    </div>

    <div class="col-xs-5">
        <h4>Bienvenidos al Hotel Amazonian Willow</h4>
        <br />
        <p>
            Aquí podrá disfrutar de una estadía agradable, con una vista espectacular y contará con la mejor atención de la zona.
        </p>
        <br />
        <p>
            En este lugar puede olvidarse de sus preocupaciones y sentarse a disfrutar de la vista y de las distintas actividades de recreación que ponemos a su disposición.
        </p>
        <br />
        <p>
            Tenemos precios accesibles para todas las personas, para que nadie se quede sin disfrutar de esta inolvidable experiencia.
        </p>
        <br />
        <p>
            ¿Qué espera?
            Reserve una habitación hoy mismo.
            ¡No se quede sin su oportunidad de disfrutar de esta experiencia!.
        </p>
    </div>
</div>