<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>amazonianwillow-001-site1.gtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>amazonianwillow-001-site1.gtempurl.com:8172/MsDeploy.axd?site=amazonianwillow-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>amazonianwillow-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\amazonianwillow-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Hotel_Amazonian_WillowEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=163.178.107.130;Initial Catalog=Hotel_Amazonian_Willow;Persist Security Info=True;User ID=laboratorios;Password=Saucr.118" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AmazoniamWillowHotel.Models.Hotel_Amazonian_WillowEntities, AmazoniamWillowHotel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Hotel_Amazonian_WillowEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=163.178.107.130;Initial Catalog=Hotel_Amazonian_Willow;Persist Security Info=True;User ID=laboratorios;Password=Saucr.118"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>